@font-face {
  font-family: 'Daxline Pro:Black';
  src: url('../assets/fonts/DaxlinePro-Black_992763408.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Daxline Pro:Bold';
  src: url('../assets/fonts/DaxlinePro-Bold_2404858547.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Daxline Pro:Extrabold';
  src: url('../assets/fonts/DaxlinePro-ExtraBold_497811644.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Daxline Pro:Light';
  src: url('../assets/fonts/DaxlinePro-Light_2424344107.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Daxline Pro:Medium';
  src: url('../assets/fonts/DaxlinePro-Medium_1786755477.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Daxline Pro:Regular';
  src: url('../assets/fonts/DaxlinePro-Regular_1044156679.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
